<div class="container-fluid hero-section-2"></div><div class="container mb-5">
    <div class="row">
    
        <div class="col-lg-12">
    
            <div class="hero-intro mt-5 mb-4">
    
                <h2 class="text-center fs-1 fw-bold mb-3">Lighten Up</h2>
                <p class="text-center mb-3">Our Tree material is a breath of fresh air, for your feet.
                </p>
            </div>
    
            <div class="hero-intro-button mt-3 mb-5 d-flex justify-content-center">
    
                <button type="button" class="btn btn-dark me-2">SHOP MEN</button>
                <button type="button" class="btn btn-dark me-2">SHOP WOMEN</button>
    
            </div>
    
            <div class="hero-intro mt-5 mb-4">
    
                <h2 class="text-left fs-3 fw-bold mb-3">Shop The Collections</h2>
    
    
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="multiple-items">
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-1.avif" class="card-img-top shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Women's Tree Flyer</h5>
                            <div class="bottom-details">
                                <p class="card-text">Natural Black, Now: $89</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-2.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Sugar Sliders</h5>
                            <div class="bottom-details">
                                <p class="card-text">Pure Azure, Now: $24</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-3.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Men's Wool Runner</h5>
                            <div class="bottom-details">
                                <p class="card-text">Hazy Cargo, Now: $74</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-4.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Women's Tree Breezer</h5>
                            <div class="bottom-details">
                                <p class="card-text">Pure Azure, Now: $24</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-5.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Men's Wool Runner</h5>
                            <div class="bottom-details">
                                <p class="card-text">Hazy Cargo, Now: $74</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-6.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Sugar Sliders</h5>
                            <div class="bottom-details">
                                <p class="card-text">Pure Azure, Now: $24</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-slider">
                    <div class="card">
                        <img src="./assets/img/product-6.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Women's Tree Flyer</h5>
                            <div class="bottom-details">
                                <p class="card-text">Natural Black, Now: $89</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-slider">
                    <div class="card ">
                        <img src="./assets/img/product-4.avif" class="card-img-top  shadow-lg p-3 bg-body" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Men's Wool Runner</h5>
                            <div class="bottom-details">
                                <p class="card-text">Hazy Cargo, Now: $74</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>