<div class="container-fluid bg-dark pt-5">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 mb-3">
            <h6 class="text-white text-white fw-bold fs-5">HELP</h6>
            <ul class="list-group">
                <li class="list-group-item">1-888-963-8944</li>
                <li class="list-group-item">1-814-251-9966 (Text)</li>
                <li class="list-group-item">help@allbirds.com</li>
                <li class="list-group-item">Returns/Exchanges</li>
                <li class="list-group-item">FAQ/Contact Us</li>
                <li class="list-group-item">Afterpay</li>
            </ul>
        </div>
        <div class="col-lg-3 mb-3">
            <h6 class="text-white text-white fw-bold fs-5">SHOP</h6>
            <ul class="list-group">
                <li class="list-group-item">Men's Shoes</li>
                <li class="list-group-item">Women's Shoes</li>
                <li class="list-group-item">Men's Apparel</li>
                <li class="list-group-item">Women's Apparel</li>
                <li class="list-group-item">Socks</li>
                <li class="list-group-item">Gift Cards</li>
                <li class="list-group-item">Refer a Friend</li>
                <li class="list-group-item">Download The AllBirds App</li>
    
            </ul>
        </div>
        <div class="col-lg-3 mb-3">
            <h6 class="text-white text-white fw-bold fs-5">COMPANY</h6>
            <ul class="list-group">
                <li class="list-group-item">Our Stores</li>
                <li class="list-group-item">Our Story</li>
                <li class="list-group-item">Our Material</li>
                <li class="list-group-item">Sustainablity</li>
                <li class="list-group-item">Investors</li>
                <li class="list-group-item">Shoe Care</li>
                <li class="list-group-item">Partnerships</li>
                <li class="list-group-item">Product Testing</li>
                <li class="list-group-item">Affiliates</li>
                <li class="list-group-item">Bulk Orders</li>
                <li class="list-group-item">Careers</li>
                <li class="list-group-item">Press</li>
                <li class="list-group-item">California Transparency Act</li>
                <li class="list-group-item">Community Offers</li>
            </ul>
        </div>
        <div class="col-lg-1"></div>
    
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 mb-3">
                <h6 class="text-white text-white fw-bold fs-5">FOLLOW THE FLOCK</h6>
                <p class="text-white fw-0">Exclusive offers, a heads up on new things, and sightings of Allbirds in the
                                                wild. Oh, we have cute sheep, too. #weareallbirds</p>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="row">
                  <div class="image-div">
                    <img src="https://cdn.allbirds.com/image/upload/f_auto,q_auto/cms/1X4EOQF1JJOjMbo48vDUzB/c249da5825f9ae39f1f53bdb90d65285/icon-b-corp.svg">
                  </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
               <div class="flags">
                <img src="./assets/img/flag-au.svg">
                <img src="./assets/img/flag-ca.svg">
                <img src="./assets/img/flag-cn.svg">
                <img src="./assets/img/flag-nz.svg">
                <img src="./assets/img/flag-uk.svg">
                <img src="./assets/img/flag-us.svg">
               </div>
    
    
            </div>
            
            <p class="text-white text-center fs-5 mt-5">© 2023 Allbirds, Inc. All Rights Reserved by Ali Haider. Terms, Privacy & Accessibility</p>
    
        </div>
    
    </div>