<div class="container-fluid bg-own">

    <div class="row">
    
        <div class="col">
    
            <div class="newsletter-intro">
    
                <h2 class="text-center text-dark mt-5 fw-bold mb-4">Want First Dibs?</h2>
                <p class="text-center text-dakr fw-bold mb-4">Join our email list and be the first to know about new limited
                                                edition products, material innovations, and
                    <br>
                    lots of other fun updates.</p>
    
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group mx-auto mb-4">
                                    <input type="email" class="form-control me-3 rounded-0 bg-light border-top-0 border-end-0 border-start-0 border-bottom-dark border-bottom-1 p-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email Address">
                                    <button type="submit" class="btn btn-dark rounded-0 p-2 w-25">Submit</button>
                                </div>
    
                            </form>
                            <p class="text-center">Note: You can opt-out at any time. See our Privacy Policy and Terms.</p>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div></div>