
<div class="container-fluid banner-section">
    <div class="row">
        <div class="col">
            <div class="banner-section-intro">
                <h2 class="fw-bold text-white">Meet The Perfect Travel Shoes</h2>
                <h6 class="fw-bold">Super Packable. Versatile. And All-Day (And Night) Adventure Ready.</h6>
                <div class="banner-intro-button mt-3 mb-5">
                    <button type="button" class="btn btn-dark me-2">SHOP MEN</button>
                    <button type="button" class="btn btn-dark me-2">SHOP WOMEN</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white p-2 mb-3">
    <div class="">
        <p class="text-center mt-2 mb-2">
            <b>Discover Your Perfect Pair
            </b>
            Try our Style Quiz to find the best pair for
                                        you.
            <u>Take the Style Quiz</u>
        </p>
    </div>
</div>